@media(max-width:1024px){
    .reelcontainer{
        width: 25vw;
    }
    .reel video{
        width: 29vw;
    }
}
@media(max-width:821px){
    .reelcontainer{
        width: 30vw;
    }
    .reel video{
        width: 30vw;
    }
}
@media(max-width:425px){
    .reelcontainer{
        width: 100vw;
    }
    .reel video{
        width: 100vw;
    }
}