@media only screen and(max-width: 768px){
    .video-container {
        height: 85vh;
        min-width: 30vw;
        
    }
    .video-wrapper {
        min-height: 85vh;
    }
    .nav_logo {
        font-size: 60px;
    }
}
@media only screen and(max-width: 425px){
    .video-container {
        height: 97vh !important;
        margin-top: 0 !important;
        /* margin: auto; */
    }
    .video-wrapper {
        min-height: 92vh !important;
    }
}